
<style>
    .thumbnail-1 {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;
        display: inline-block;
    }

        .thumbnail-1 img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
</style>




<div class="axil-author-area axil-author-banner bg-color-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-author">
                    <div class="media">
                        <div class="thumbnail-1">
                            <a href="#">
                                <img src="~/assets/images/logo/Logo-Blog-Post.png" alt="Author Images">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="author-info">
                                <h1 class="title"><a href="#">Gelson Hernandez</a></h1>
                                <span class="b3 subtitle">Software Developer</span>
                            </div>
                            <div class="content">
                                <p class="b1 description">
                                    "I've embarked on a life's journey, accumulating experiences and skills that have shaped me into the person I am today.
                                    As a software developer, I've dedicated myself to refining my craft, tackling intricate challenges, and devising innovative solutions. 
                                    This path has been demanding and fulfilling, and I'm eager to discover where it will lead me next. 
                                    I take immense pleasure in witnessing my code materialize and in leveraging technology to make a meaningful impact on people's lives.
                                    That's precisely why I've established this blog – to share my knowledge and support others on their journeys."
                                </p>
                                <ul class="social-share-transparent size-md">
                                    <li><a href="https://www.facebook.com/gelsonhs"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.instagram.com/gelsonhz/"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://twitter.com/gelsonhz"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="mailto:gelsonhz@outlook.com"><i class="far fa-envelope"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/gelson-hernandez/"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



