
@{
    Layout = "_Layout";
}

<partial name="_AuthorAreaPartial" />

<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <!-- Start About Area  -->
                <div class="axil-about-us">
                    <div class="inner">
                        <h3>About Me</h3>
                        <p>
                            Greetings! I am an accomplished Full-Stack .NET Developer based in North Carolina,
                            renowned for my expertise in designing and developing top-notch web applications using cutting-edge technologies.
                            With a profound commitment to excellence, I consistently deliver sophisticated, responsive, and user-centric solutions
                            tailored to meet the distinct requirements of my clients.
                        </p>

                        <h3>Professional Background:</h3>
                        <p>
                            My journey in the realm of technology has been characterized by a relentless pursuit of knowledge and a dedication to staying at the forefront of industry trends.
                            As a skilled practitioner, I specialize in leveraging the power of ASP.NET, C#, and MVC to create robust and scalable applications.
                            My proficiency extends to emerging technologies like Blazor, showcasing my adaptability and forward-thinking approach.
                        </p>

                        <h3>Technical Proficiency:</h3>

                        <div class="row">
                            <div class="col-md-3 col-sm-12">
                                <ul class="list-unstyled custom-list fw-bold">
                                    <li>ASP.NET</li>
                                    <li>C#</li>
                                    <li>MVC</li>
                                    <li>Blazor</li>
                                    <li>JavaScript</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <ul class="list-unstyled custom-list fw-bold">
                                    <li>Bootstrap</li>
                                    <li>SQL</li>
                                    <li>PostgreSQL</li>
                                    <li>XML</li>
                                    <li>jQuery</li>
                                    <li>Object-Oriented Programming (OOP)</li>
                                </ul>
                            </div>
                        </div>

                        <h3 class="mt-3">Portfolio Highlights:</h3>

                        <p>
                            I take pride in my extensive portfolio, which exemplifies my mastery across a diverse range of technologies. Whether it's dynamic client-side scripting with JavaScript, crafting elegant and responsive layouts with HTML and CSS, or implementing server-side logic with C# and SQL, my projects reflect a holistic understanding of the software development lifecycle.
                        </p>

                        <h3>Innovation and Problem-Solving:</h3>
                        <p>
                            Driven by a passion for innovation and problem-solving, I have successfully tackled complex challenges throughout my career. My proficiency in Object-Oriented Programming (OOP) ensures that my code is not only functional but also maintainable and scalable in the long run.
                        </p>

                        <h3>Collaboration and Impact:</h3>

                        <p>
                            In a professional context, I am dedicated to creating applications that not only meet specifications but also have a lasting impact. Whether it involves enhancing user experiences, optimizing performance, or integrating seamless database solutions, I approach each project with a strategic mindset and a commitment to excellence.
                        </p>

                        <h3>Explore My Work:</h3>

                        <h5 class="">
                            <a href="https://bugtrackingsystem.up.railway.app/">Bug Tracking System <i class="bi bi-link-45deg"></i></a>
                        </h5>

                        <h5 class="">
                            <a href="https://devdiary-production.up.railway.app/">This Web Page: Dev Diary <i class="bi bi-link-45deg"></i></a>
                        </h5>

                        <h5 class="">
                            <a href="https://contactproaltair-production-3fe6.up.railway.app/">Contact+ <i class="bi bi-link-45deg"></i></a>
                        </h5>



                    </div>
                </div>
                <!-- End About Area  -->

            </div>

        </div>
    </div>
</div>
<!-- End Post List Wrapper  -->
