html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.my-page-item {
    display: inline-block;
    list-style: none;
}

.my-page-link {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    transition: all 0.3s ease;
}

    .my-page-link:hover,
    .my-page-link:active {
        color: white;
        background-color: #bf4c41;
    }


/*.my-page-item {
    display: inline-block;
    list-style: none;
}*/

/* Estilos base para ambos modos*/
/*.my-page-link {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;*/
/*    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.5);
*/ /*transition: all 0.3s ease;
}

.my-page-item a.my-page-link:hover,
a.my-page-link:active {
    color: white;*/
/*background-color: #ff993b;*/
/*background-color: #bf4c41;
}


.my-page-item my-page-link li:first-child a {
    border-radius: 40px 0 0 40px;
}

.my-page-item my-page-link li:last-child a {
    border-radius: 0 40px 40px 0;
}*/

/*Estilos para el modo oscuro*/
/*.my-page-item.dark a.my-page-link {
    background-color: #000000;
}

    .my-page-item.dark a.my-page-link:hover,
    .my-page-item.dark a.my-page-link:active {
        background-color: #ff993b;
    }*/
/*Puedes ajustar otros estilos adicionales para el modo oscuro aquí si es necesario
*/

.tagcloud a {
    color: black;
}

    .tagcloud a:hover {
        background-color: darkgray;
        color: white;
    }

.tagcloud .disabledTag {
    background-color: lightgray;
    color: gray;
    font-weight: bold;
    border-color: lightgray;
}

    .tagcloud .disabledTag:hover {
        background-color: lightgray;
        color: darkgray;
        border-color: lightgray;
    }


.small-image {
    max-width: 600px;
    width: 100%;
    height: auto;
}
